APP_NAME=NEXXA API
APP_VERSION=0.1.0
ENVIRONMENT=development
DEBUG=false

API_PREFIX=/api/v1

DATABASE_URL=postgresql+psycopg://YOUR_DB_USER:YOUR_DB_PASSWORD@localhost:5432/nexxa

CORS_ORIGINS=http://localhost:3000,http://localhost:5173

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=